/* Reset */
* {
    margin: 0  ;
    padding: 0;
    box-sizing: border-box;
}

/* some basic styling */
body {
    font-family: century;
    font-size: 1.2rem;
    background-color:white;
    
}
/* To divide the pages into sections alot of the CSS is using grid display and then splitting them into section using grid template colums */
/* This keeps structure to the webpage and using grid layout consistently keeps the code tidy and readable. */

/* Classes are used throughout the HTML and CSS to help style certain parts of the code. Using classes its easy to understand what part of the HTML is being styled by the CSS */
/* .btn is an example of the class being styled */

/* -----------------Header--------------- */

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    background-color:#550216;
    font-size: 30px;  
    color: white;
}

.btn {
    border-radius: 15px;
    font-size: 30px;
    margin: 20px;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #221006;
    padding: 15px;
    color:black;
    text-decoration: none;
    background-color: white; 
}
/* :hover styles the element when the user hovers over it, this provides a visual aspect that it can be clicked. */
.btn:hover {
    background-color:#221006;
    font-weight: bold;
    color:  white;
}


.SignIn {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* -----------------Nav--------------- */

nav {
    margin: auto;
    font-size: 40px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    color: white;
}

nav ul a {
    color: white;
    text-decoration: none;
}



nav ul li:hover {
    color: #221006;
    font-weight: bold;
}

/* -----------------Main--------------- */

main {
    margin: auto;
    width: min(100%, 1000px);
    font-size: 1.5rem;
    border: #550216;
    border-style: solid;
    border-top: none;
    border-bottom: none;
  }

.Promotions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

.Loyalty{
    border-style: solid;
    border-color: #221006;
    border-width: 0.3rem;
    margin: 2rem;
}
.ButtonLoyalty{
    border-radius: 15px;
    font-size: 20px;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #221006;
    color: black;  
    width: 50%;
    margin-top: -3%;
    margin-bottom: 5%;
    padding: 5px;
    background-color: white;
}
.ButtonLoyalty:hover{
    background-color: #221006;
    color: white;
    font-weight: bold;
}

.Gtext {
    font-size: 2rem;
    text-align: center;
    border-style: solid;
    border-color:#550216;
    border-radius: 15px;
    color:#550216;
    font-weight:lighter;
}


/*VScode is telling me theres something wrong with h2 again but it seems to be working as intended. */
h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 2rem;
    font-weight: lighter;

}

/* -----------------Footer--------------- */
footer{
    background-color: #550216;
    color: white;
    border-top: #550216;
    border-style: solid;
    border-width: 5px;
}
.Footer1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center; 
}


/* After styling the template and ensuring the basics of the page are working i have split the code for each individual page for its own content. */

/* -----------------Home page--------------- */

.Gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    

}
.indiv {
    margin: 10px;
    border-color: #550216;
    border-style: solid;
    
}

.border {
    border-bottom: #550216;
    border-style:dashed;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 150px;
    margin-left: 70px;
    margin-top: 10px;
    
}

/* -----------------Booking page--------------- */

.BookingPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
/* Styling for the button within the 'haircut' box on the booking page, this is to ensure the element sits at the bottom of the box and make it visually better. */
.BookNow {
    background-color: white;
    color: black;
    margin-top: 93px;
}

.StudentPromotion{
    font-size: 30px;
    margin: 20px;
    text-align: center;
    color: #550216;
    font-style: italic;
    font-weight: bold;
}

.Haircut{
    font-weight: bold;
    font-size: 40px;
    margin: 20px;
    font-style: italic;
    color: #550216;
}

.price{
    margin: 30px;
    font-size: 30px;
}

button {
    border-radius: 15px;
    font-size: 30px;
    margin: 20px;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #221006;
    padding: 15px;
    color:black;
    text-decoration: none;
    background-color: white; 
}

button:hover {
    background-color:#221006;
    font-weight: bold;
    color:  white;
}

/* -----------------Booking Form--------------- */

.contactcontainer {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid 1px #550216 ;
  }
    
  input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #550216;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color:#550216;
    color: white;
    cursor: pointer;
    font-size: 30px;
  }

.BookingFormStatement{
    text-align: center;
    color: #550216;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .StudentID{
    text-align: center;
    margin-top: 10px;
    border-style: solid;
    border-color: #550216;
    border-width: 1px;
  }

