/* Reset */
* {
    margin: 0  ;
    padding: 0;
    box-sizing: border-box;
}

/* some basic styling */
body {
    font-family: century;
    font-size: 1.2rem;
    background-color:white;
    
}

/* -----------------Header--------------- */

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: #550216;
    font-size: 30px;  
    color: white;
}

button {
    border-radius: 15px;
    font-size: 30px;
    margin: 20px;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #221006;
    padding: 15px;
    color:#550216;        
}

.SignIn {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* -----------------Nav--------------- */

nav {
    margin: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    color: white;
}

nav ul a {
    color: white;
    text-decoration: none;
}



nav ul li:hover {
    color: #221006;
    font-weight: bold;
}

/* -----------------Main--------------- */

main {
    margin: auto;
    width: min(100%, 1000px);
    font-size: 1.5rem;
    border: #550216;
    border-style: solid;
    border-top: none;
    border-bottom: none;
  }

.Promotions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

.Loyalty{
    border-style: solid;
    border-color: #221006;
    border-width: 0.3rem;
    margin: 2rem;
}
.ButtonLoyalty{
    border-radius: 15px;
    font-size: 20px;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #221006;
    padding: 5px;
    color: black;  
    width: 50%;
    margin-top: -3%;
}
.Gtext {
    font-size: 2rem;
    text-align: center;
    border-style: solid;
    border-color:#550216;
    border-radius: 15px;
    color: #550216;
}
.Gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

/* -----------------Footer--------------- */
footer{
    background-color: #550216;
    color: white;
    border-top: #550216;
    border-style: solid;
    border-width: 5px;
}
.Footer1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center; 
}




/* -----------------Home page--------------- */

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    

}
.indiv {
    margin: 10px;
    border-color: #550216;
    border-style: solid;
    
}

.border {
    border-bottom: #550216;
    border-style:dashed;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 150px;
    margin-left: 70px;
    margin-top: 10px;
    
}

/* -----------------Booking page--------------- */

.BookingPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.BookNow {
    background-color: white;
    color: black;
    margin-top: 110px;
}

.BookNow2 {
    background-color: white;
    color: black;
    
}